<header>
  <nav class="navbar shadow-1 primary">
    <a class="navbar-brand">Immobilier</a>
    <div class="navbar-menu ml-auto" [style.visibility]="currentUser ? 'hidden': 'visible'">
      <a class="navbar-link modal-trigger" data-target="modal-example">Connexion</a>
    </div>
    <div class="navbar-menu ml-auto" *ngIf="currentUser;">
      <a class="navbar-link">{{ currentUser?.email }}</a>
      <a class="navbar-link" (click)="logout()">Déconnexion</a>
    </div>
  </nav>
</header>

<div class="modal shadow-1 white rounded-3" id="modal-example" data-ax="modal">
  <div class="modal-header">
    Connexion
    <button data-target="modal-example" class="modal-trigger">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-content">
    <form>
      <div class="grix xs1 sm2">
        <div class="form-field">
          <label class="txt-left" for="email">Email</label>
          <input [(ngModel)]="email" name="email" type="email" id="email" class="form-control rounded-1"
            placeholder="Email" />
        </div>
        <div class="form-field">
          <label for="password">Mot de passe</label>
          <input [(ngModel)]="password" name="password" type="text" id="password" class="form-control rounded-1"
            placeholder="Mot de passe" />
        </div>
      </div>
      <div class="grix mt-5">
        <button class="btn shadow-1 rounded-1 blue mx-auto" (click)="login()">Connexion</button>
      </div>
    </form>
  </div>
</div>