<!DOCTYPE html>
<html>
  <head>
    <title>Starter template - Axentix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="layout" data-axentix>
    <app-header></app-header>


    <main>
      <app-real-estate-properties></app-real-estate-properties>
    </main>

    <app-footer></app-footer>

    <script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script>
  </body>
</html>